@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Base styling */
.navbar {
  display: flex;
  align-items: center;
  background-color: #0a0a0a;
  height: 70px;
  position: sticky;
  width: 80%;
  top: 20px;
  left: 50%;
  transform: translateX(-12%);
  box-shadow: rgba(255, 255, 255, 0.25) 0px 12px 15px, rgba(255, 255, 255, 0.12) 0px -12px 20px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
  z-index: 100;
}

/* Centering the links */
.navbarContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbarLinks {
  list-style: none;
  display: flex;
  gap: 60px;
  margin: 0;
  padding: 0;
}

.navbarLinks li {
  display: flex;
  align-items: center;
}

.navbarLinks li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  transition: color 0.3s ease;
}

/* Hover state */
.navbarLinks li a:hover {
  color: #ff9800;
}

/* Active state styling */
.navbarLinks li.active a {
  color: #ff9800 !important; /* Use !important to ensure this overrides */
}

/* Font Awesome icon styling */
.navbarLinks li a svg {
  font-size: 24px;
  margin-left: 15px;
  transition: color 0.3s ease;
  color: #ffffff;
}

.navbarLinks li a:hover svg {
  color: #ff9800;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .navbarLinks {
    display: none;
  }
}
